body{ background-color: #E6E6FA;} 

input {
background-color:#eeeeee;
font: 12px georgia, sans-serif;
color:black;
border:2px solid #ddd;
width: 200px;
height:25px;
}

select{
    background-color:#eeeeee;
    font: 12px georgia, sans-serif;
    color:black;
    border:2px solid #ddd;
    width: 200px;
    height:25px;
}

.botao {
background-color:#1E90FF;
font: 13px georgia, sans-serif;
color:black;
width: 80px;
height:25px;
margin-right: 20px;
border:2px solid #ddd;
}

table {
    background-color:#eeeeee;
    font: 12px georgia, sans-serif;
    color:black;
    border:1px solid #ddd;  
}

.table_titulo{
    background-color:#9370DB;
    font: 12px georgia, sans-serif;
    font-weight: bold;
    color:black;
    border:1px solid #ddd;  
}